* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumb Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background:rgba(7, 7, 7, 0.5);
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    display: flex;

}
.navbar__menu {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #f1e6e6;
    color: beige;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 45%;
    transition: all 0.5s ease;
}

.navbar__links:hover {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    color: #edf052;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin: 0;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }
    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1rem;
    }
    #navbar__logo {
        padding-left: 25px
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar__item {
        width: 100%
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .navbar__btn {
        padding-bottom: 2rem
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    /* middle-bar */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */

.hero {
    background-image: url(Images/BG\ 1.jpg);
    height: 85vh;
    background-size: cover;
    background-position:center ;
   padding: 200px 0;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    background: -webkit-linear-gradient(to right, #8b0707, #050003);
}
.hero__heading span {
    background: #58062e;
    background: -webkit-linear-gradient(to right, #8b0707, #050003);
    background: -webkit-linear-gradient(to right, #8b0707, #050003);
    /* convert box gradient into text */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
    /* color: blueviolet; */
}

.hero__description {
    font-size: 60px;
    background: #da22ff;
    background: -webkit-linear-gradient(to right, #020102, #260230);
    background: linear-gradient(to right, #020103, #2e0336);
    /* convert box gradient into text */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}
.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 768px) {
    .hero__heading {
        font-size: 60px;
    }
    .hero__description {
        font-size: 40px;
    }
}
.main {
    background-color: #131313;
    padding: 10rem 0;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: #fff;
    width: 100%;
}

.main__content h1 {
    font-size: 2rem;
    background-color: #ff8177;
    background-image: linear-gradient( to top, #ff087b 0%, #ed1a52 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content h2 {
    font-size: 4em;
    background: #ff8177;
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
    background: linear-gradient(to right, #8f0eff, #da22ff);
    /* convert box gradient into text */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn {
    margin-top: 2rem;
    font-size: 1rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.25s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff1ead;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%
}

/* Services Section */

.services {
    background: #f1e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem, ;
}

.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services__card {
    margin: 10px;
    height: 200px;
    width: 330px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    transition: 00.3s ease-in;
}

.services__card:nth-child(1) {
    background: #470da5;

}
.social__icon--link {
    color: rgb(208, 216, 89);
    font-size: 24px;
}
.services__card:nth-child(2) {
    background: #15c0c0;

}
.social__icon--link {
    color: rgb(247, 247, 247);
    text-align: center;
    font-size: 24px;
}

.services__card:nth-child(3) {
    background: #c97413;

}

.services__card:nth-child(4) {
    background: #c619cc;

}

.services__card h2 {
    text-align: center;
}

.services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.services__card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
}

.services__card button:hover {
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.3 ease-in;
    cursor: pointer;
}

.footer__link--items {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items a {
    text-decoration: none;
    color: rgb(25, 10, 240);
    margin-top: 00.5rem;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-out
}
